
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
   
    <link rel="stylesheet" href="~/css/tools_style.css" asp-append-version="true" />
    <title>Astarte - Apps</title>

</head>
<body>
    
    <section id="portfolio">
        <a class="back_title" asp-controller="Home" asp-action="Index"><p class="p_left">Home</p></a>
        <a class="back_title" asp-controller="Home" asp-action="Index"><p class="p_right">Page</p></a>
       
      

        <div class="project">
            <img class="project__image" src="~/img/crypto_icon.png" />
            <p>Cryptos</p>
            <h3 class="grid__title">Cryptocurrency rate & convert</h3>
            <div class="grid__overlay">
                <form asp-controller="Crypto" asp-action="Cryptos">
                    <button class="viewbutton" type="submit">Open</button>
                </form>
            </div>
        </div>

        <div class="project">
            <img class="project__image" src="~/img/todo_icon.png" />
            <p>Todos</p>
            <h3 class="grid__title">Todo app</h3>
            <div class="grid__overlay">
                <form asp-controller="Todos" asp-action="Todo">
                    <button class="viewbutton">Open</button>
                </form>
               
            </div>
        </div>

        <div class="project">
            <img class="project__image" src="~/img/finance_icon.png" />
            <p>Finance Helper</p>
            <h3 class="grid__title">CRUD your expenses</h3>
            <div class="grid__overlay">
                <form asp-controller="Finance" asp-action="Helper">
                    <button class="viewbutton" type="submit">Open</button>
                </form>
                
            </div>
        </div>

        <div class="project">
            <img class="project__image" src="~/img/tele_icon.png" />
            <p>Tele posting</p>
            <h3 class="grid__title">Telegram posting bot</h3>
            <div class="grid__overlay">
                <form asp-controller="Telegram" asp-action="Posting">
                    <button class="viewbutton" type="submit">Open</button>
                </form>
                
            </div>
        </div>
       

       


    </section>
    <script src="~/js/tools.js"></script>

</body>
</html>