
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Astarte.Models.TodoList

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todos - Edit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/css/finance_create.css" asp-append-version="true" />

</head>
<body>
    <form asp-controller="Todos" asp-action="Edit">
        <h1>Edit</h1>
        <input type="hidden" asp-for="Id" />
        <div class="question">

            <input asp-for="Content" type="text" required />
            <label>Content</label>
        </div>

        <button type="submit">Submit</button>
        <a class="exit_btn" asp-controller="Todos" asp-action="Todo">Back</a>
    </form>
</body>
</html>